{% extends "CommercetoolsTrainingBundle::layout.html.twig" %}

{% block container %}
    <div class="search-container">
            <div id="search-results" class="row"> </div>
            <div class="loading">
                <div class="loader"></div>
            </div>
    </div>

    <div class="row" id="index-results">
        <div class="col-md-2">
        {% if facets is defined %}
            <form>
                {% for facetName, facet in facets %}
                    {{ facetName }}
                    <ul>
                        {% for value in facet %}
                            <li>
                                <input name="{{ facetName }}" id="{{ facetName }}-{{ value }}" type="checkbox" value="{{ value }}">
                                <label for="{{ facetName }}-{{ value }}">{{ value }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                <button>Filter</button>
            </form>
        {% endif %}
        </div>
        <div class="col-md-10">
        {% for product in products %}
            <div class="col-md-6">
                <a href="{{ path('_ctp_training_product', {id: product.getId}) }}">
                    <h3>{{ product.getName }}</h3>
                    <img src="{{ product.getMasterVariant.getImages.current.getUrl | default('') }}" width="100">
                    <p>{{ product.getDescription }}</p>
                    <p>{{ product.getMasterVariant.getPrice.getValue }}</p>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
