{% extends "CommercetoolsTrainingBundle::layout.html.twig" %}

{% block container %}
    <h3>{{ product.getName }}</h3>
    <img src="{{ product.getMasterVariant.getImages.current.getUrl | default('')}}" width="100">
    <p>{{ product.getDescription }}</p>
    <p>{{ product.getMasterVariant.getPrice.getValue }}</p>
    <a href="{{ path('_ctp_training_add_lineItem') }}?productId={{ product.getId }}&variantId={{ product.getMasterVariant.getId }}&quantity=1">Add to Cart</a>
{% endblock %}



